In [1]:
import pandas as pd
import ast
import os
print(os.getpid())

2325

In [2]:
file_path = "/mntssd/mnt3/shanshanbai/my_storage_from_qian/results/best_buildings.jsonl"
df = pd.read_json(file_path, lines=True)
len(df)

20535

In [3]:
df_commercial= df[df['building class'] == 'commercial']
df_residential= df[df['building class'] == 'residential']

In [4]:
# Explode 'building names' to handle lists of names
df_exploded = df_residential.explode('building names')

In [ ]:
# # Drop duplicates based on 'building city' and 'building names'
# df_no_redundancy = df_exploded.drop_duplicates(subset=['building city', 'building names'])
# df_no_redundancy

In [ ]:
# for name in sorted(set(df_valid['building names'])):
#     print(name)

In [6]:
# Define a regex pattern for valid building names (words)
valid_name_pattern = r'^[a-zA-ZÀ-ÖØ-öø-ÿ\s\'-]+$'  # Allows letters, spaces, hyphens, and apostrophes

# Filter rows where 'building names' match the valid pattern
df_exploded = df_exploded[df_exploded['building names'].str.match(valid_name_pattern, na=False)]

In [7]:
df_exploded["building tags"] = df_exploded["building tags"].apply(
    lambda tags: [tag for tag in tags if tag not in ["residential", "commercial"]]
)
df_exploded

,building id,building class,building city,building tags,building names,tweet language distribution
10242,7925,residential,London,[apartments],Russell Court,[en]
10243,21315,residential,Berlin,[apartments],Citypoint-Center,"[de, de]"
10244,31061,residential,CapeTown,[dormitory],Kopano,"[en, en, en, en, en, en, in, in, lt, lt]"
10245,31073,residential,CapeTown,[dormitory],Baxter Hall,"[en, en, en, en, en]"
10246,31079,residential,CapeTown,[dormitory],Graça Machel Hall,"[en, en, en, en, pl]"
...,...,...,...,...,...,...
20530,1648427050,residential,London,[apartments],Somerset Place,[en]
20531,1649067298,residential,Jakarta,[house],Rumah Dinas Wakil Gubernur Jakarta,[in]
20532,1649447840,residential,SaoPaulo,[apartments],Edificio Palladio Vnc,"[pt, pt]"
20533,1649535372,residential,Sydney,[apartments],Adelphi,[en]
20534,1649579326,residential,London,[apartments],Winnstay Gardens,[en]

In [8]:
df_exploded = df_exploded.explode('building tags')
df_exploded

,building id,building class,building city,building tags,building names,tweet language distribution
10242,7925,residential,London,apartments,Russell Court,[en]
10243,21315,residential,Berlin,apartments,Citypoint-Center,"[de, de]"
10244,31061,residential,CapeTown,dormitory,Kopano,"[en, en, en, en, en, en, in, in, lt, lt]"
10245,31073,residential,CapeTown,dormitory,Baxter Hall,"[en, en, en, en, en]"
10246,31079,residential,CapeTown,dormitory,Graça Machel Hall,"[en, en, en, en, pl]"
...,...,...,...,...,...,...
20530,1648427050,residential,London,apartments,Somerset Place,[en]
20531,1649067298,residential,Jakarta,house,Rumah Dinas Wakil Gubernur Jakarta,[in]
20532,1649447840,residential,SaoPaulo,apartments,Edificio Palladio Vnc,"[pt, pt]"
20533,1649535372,residential,Sydney,apartments,Adelphi,[en]
20534,1649579326,residential,London,apartments,Winnstay Gardens,[en]

In [10]:
# Language mapping dictionary
language_mapping = {
    'ar': 'Arabic', 'bg': 'Bulgarian', 'bn': 'Bengali', 'ca': 'Catalan', 'cs': 'Czech',
    'cy': 'Welsh', 'da': 'Danish', 'de': 'German', 'el': 'Greek', 'en': 'English',
    'es': 'Spanish', 'et': 'Estonian', 'eu': 'Basque', 'fa': 'Persian', 'fi': 'Finnish',
    'fr': 'French', 'hi': 'Hindi', 'ht': 'Haitian Creole', 'hu': 'Hungarian', 'hy': 'Armenian',
    'in': 'Indonesian', 'is': 'Icelandic', 'it': 'Italian', 'iw': 'Hebrew', 'ja': 'Japanese',
    'ka': 'Georgian', 'ko': 'Korean', 'lt': 'Lithuanian', 'lv': 'Latvian', 'mr': 'Marathi',
    'nl': 'Dutch', 'no': 'Norwegian', 'pa': 'Punjabi', 'pl': 'Polish', 'pt': 'Portuguese',
    'ro': 'Romanian', 'ru': 'Russian', 'sl': 'Slovenian', 'sr': 'Serbian', 'sv': 'Swedish',
    'th': 'Thai', 'tl': 'Tagalog', 'tr': 'Turkish', 'uk': 'Ukrainian', 'ur': 'Urdu',
    'vi': 'Vietnamese', 'zh': 'Chinese'
}

df_exploded["tweet language distribution"] = df_exploded["tweet language distribution"].apply(
    lambda langs: [language_mapping.get(lang, lang) for lang in langs]
)
df_exploded

,building id,building class,building city,building tags,building names,tweet language distribution
10242,7925,residential,London,apartments,Russell Court,[English]
10243,21315,residential,Berlin,apartments,Citypoint-Center,"[German, German]"
10244,31061,residential,CapeTown,dormitory,Kopano,"[English, English, English, English, English, ..."
10245,31073,residential,CapeTown,dormitory,Baxter Hall,"[English, English, English, English, English]"
10246,31079,residential,CapeTown,dormitory,Graça Machel Hall,"[English, English, English, English, Polish]"
...,...,...,...,...,...,...
20530,1648427050,residential,London,apartments,Somerset Place,[English]
20531,1649067298,residential,Jakarta,house,Rumah Dinas Wakil Gubernur Jakarta,[Indonesian]
20532,1649447840,residential,SaoPaulo,apartments,Edificio Palladio Vnc,"[Portuguese, Portuguese]"
20533,1649535372,residential,Sydney,apartments,Adelphi,[English]
20534,1649579326,residential,London,apartments,Winnstay Gardens,[English]

In [11]:
# Truncate lists in the 'tweet language distribution' column
df_exploded["tweet language distribution"] = df_exploded["tweet language distribution"].apply(lambda x: x[:5])
df_exploded

,building id,building class,building city,building tags,building names,tweet language distribution
10242,7925,residential,London,apartments,Russell Court,[English]
10243,21315,residential,Berlin,apartments,Citypoint-Center,"[German, German]"
10244,31061,residential,CapeTown,dormitory,Kopano,"[English, English, English, English, English]"
10245,31073,residential,CapeTown,dormitory,Baxter Hall,"[English, English, English, English, English]"
10246,31079,residential,CapeTown,dormitory,Graça Machel Hall,"[English, English, English, English, Polish]"
...,...,...,...,...,...,...
20530,1648427050,residential,London,apartments,Somerset Place,[English]
20531,1649067298,residential,Jakarta,house,Rumah Dinas Wakil Gubernur Jakarta,[Indonesian]
20532,1649447840,residential,SaoPaulo,apartments,Edificio Palladio Vnc,"[Portuguese, Portuguese]"
20533,1649535372,residential,Sydney,apartments,Adelphi,[English]
20534,1649579326,residential,London,apartments,Winnstay Gardens,[English]

In [12]:
# Save the DataFrame to a CSV file
file_path = "/mntssd/mnt3/shanshanbai/my_storage_from_qian/results/residential_buildings_6558_.jsonl"
df_exploded.to_json(file_path, orient='records', lines=True)